name: Benchmark

on:
  workflow_dispatch:

jobs:
  benchmark:
    strategy:
      matrix:
        include:
          - run: sample1
          - run: sample2
          - run: sample3
          - run: sample1_suffix
          - run: sample2_suffix
          - run: sample1_locality
          - run: sample2_locality
          - run: sample3_locality
          - run: sample1_cacheline
          - run: sample2_cacheline
          - run: sample3_cacheline

    runs-on: ubuntu-latest
    name: ${{ matrix.run }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        
      - name: Compile code
        run: c++ ${{ matrix.run }}.cpp -o ${{ matrix.run }} -std=c++20

      - name: Run
        run: |
          echo $(./${{ matrix.run }}) >> $GITHUB_STEP_SUMMARY
        
