name: Benchmark

on:
  workflow_dispatch:

jobs:
  benchmark:
    strategy:
      matrix:
        include:
          - test: sample1
          - test: sample2
          - test: sample3
          - test: sample1_suffix
          - test: sample2_suffix
          - test: sample1_locality
          - test: sample2_locality
          - test: sample3_locality
          - test: sample1_cacheline
          - test: sample2_cacheline
          - test: sample3_cacheline

    runs-on: ubuntu-latest
    name: ${{ matrix.test }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        
      - name: Compile code
        run: c++ -std=c++20 ${{ matrix.test }}.cpp -o ${{ matrix.test }}

      - name: Run
        run: |
          echo $(./${{ matrix.test }}) >> $GITHUB_STEP_SUMMARY
        
