name: Benchmark

on:
  workflow_dispatch:

jobs:
  benchmark:
    strategy:
      matrix:
        include:
          - run: sample1
            flags: -std=c++20
            
          - run: sample2
            flags: -std=c++20
            
          - run: sample3
            flags: -std=c++20
            
          - run: sample1_suffix
            flags: -std=c++20
            
          - run: sample2_suffix
            flags: -std=c++20

    runs-on: ubuntu-latest
    name: ${{ matrix.run }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        
      - name: Compile code
        run: c++ ${{ matrix.run }}.cpp -o ${{ matrix.run }} ${{ matrix.flags }}

      - name: Run
        run: |
          echo $(./${{ matrix.run }}) >> $GITHUB_STEP_SUMMARY
        
